.dragbar {
	cursor: col-resize;
	border-left: 4px solid gray;
	margin-right: var(--reader-padding);
	margin-left: 2px;
}
.readerGroup {
	display: flex;
	width: 100%;
}
@media (max-width: 1200px) {
	.readerGroup {
		flex-direction: column;
	}
	.readerGroup > article {
		overflow: auto;
		padding-left: 0;
	}
}
