.nav {
	height: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.nav > * {
	height: 100%;
}
.nav > [name="version"] {
	width: 6ch;
}
.nav > [name="book"] {
	width: 16ch;
}
.nav > [name="chapter"] {
	width: 5ch;
	text-align-last: right;
}
.nav > [name="chapter"] > option {
	direction: rtl;
}
.versionInfo {
	width: 80%;
	max-height: 80%;
}
.versionInfo > h1 {
	text-align: center;
}
.authors {
	text-align: center;
}
.versionInfo > nav > ul {
	display: flex;
}
.overflowing {
	visibility: hidden;
}
.vertical {
	flex-direction: column;
}
.vertical > * {
	width: 100% !important;
	height: 2rem;
}
.nav.vertical > [name="chapter"] {
	text-align-last: left;
}
.nav.vertical > [name="chapter"] > option {
	direction: ltr;
}
