.container {
	/*cannot target container itself in @container queries*/
	/*WHY? idk, wish it was documented*/
	width: 100%;
	container: reader-nav / inline-size;
}
.nav {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

@container reader-nav (width > 19em) {
	.dropdown {
		display: none;
	}
	.popover {
		display: contents;
	}
}
[popover]:popover-open > .nav {
	flex-direction: column;
}

.nav > [name="chapter"] {
	text-align-last: right;
}
.nav > [name="chapter"] > option {
	direction: rtl;
}
.versionInfo {
	width: 80%;
	height: 80%;
}
.versionInfo > h1 {
	text-align: center;
}
.authors {
	text-align: center;
}
.versionInfo > nav > ul {
	display: flex;
}
.overflowing {
	visibility: hidden;
}

.nav.vertical {
	height: auto;
}
.nav.vertical > select,
.nav.vertical > button {
	width: 100%;
}
.nav.vertical > [name="chapter"] {
	text-align-last: left;
}
.nav.vertical > [name="chapter"] > option {
	direction: ltr;
}
