.article {
	display: flex;
	flex-direction: column;
	flex: 1;
}
/* libre-baskerville-regular - latin */
@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/libre-baskerville-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./fonts/libre-baskerville-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('./fonts/libre-baskerville-v7-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

.reader {
	overflow-y: auto;
	height: 100%;
	font-family: var(--reader-font-family);
	font-size: var(--reader-font-size);
	padding: var(--reader-padding);
}
.navContainer {
	display: flex;
	flex-wrap: wrap;
	/* Safari */
	flex-shrink: 0;
	padding-left: var(--reader-padding);
}
.navContainer > nav  {
	flex-grow: 1;
}
.windowButton {
	padding: 0 .3rem;
}

.reader > p:first-of-type::first-letter {
	font-size: var(--first-chapter-letter-size);
	font-weight: var(--first-chapter-letter-weight);
}
.reader > :is(h1, h2, h3, h4, h5, h6),
.reader > :global(.sr) {
	text-align: center;
	margin-bottom: 1rem;
	display: var(--h-display);
}
.reader :global(.sr) {
	font-size: 1em;
	display: inherit;
	display: var(--sr-display);
	margin-top: -0.8rem;
}
.reader sup:not([class]) {
	padding-left: 0.25rem;
	padding-right: 0.0625rem;
	font-size: 0.75rem;
	user-select: var(--verse-num-user-select);
	display: var(--verse-num-display);
}
.reader > p {
	text-indent: 1em;
	margin-bottom: 1rem;
}
.reader > p:is(:global(.q1), :global(.q2), :global(.q3), :global(.q4), :global(.q5), :global(.q6)) {
	margin-bottom: 0;
}
.reader > p:global(.q1) {
	padding-left: 2rem;
	text-indent: -1rem;
}
.reader > p:global(.q2) {
	padding-left: 4rem;
	text-indent: -2rem;
}
.reader > p:global(.q3) {
	padding-left: 5rem;
	text-indent: -3rem;
}
.reader > p:global(.q4) {
	padding-left: 6rem;
	text-indent: -4rem;
}
.reader > p:global(.q5) {
	padding-left: 7rem;
	text-indent: -5rem;
}
.reader > p:global(.q6) {
	padding-left: 8rem;
	text-indent: -6rem;
}
.reader > p:global(.qc) {
	padding-left: 2rem;
	text-indent: -1rem;
}
.reader > p:global(.qa) {
	margin-bottom: 0.5rem;
	text-indent: 0;
}
.reader > p + p:global(.qa) {
	margin-top: 1rem;
}
/* Long enough for 3-digit verse number (PSA 117) */
/* .qcol > sup {
	width: 1.75rem;
	display: inline-block;
	margin-left: 1.75rem;
} */
