html {
	--primary-text-color: #3b4351;
	/* Subtracted from 6rem */
	--primary-text-indent: 1rem;
	--primary-theme-color: #0b8dc4;
	--primary-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--secondary-font-family: "Sentinel A", "Sentinel B", "Gentium Plus", Ezra, Georgia, Times, serif;
	--reader-padding: 1rem;
	--reader-font-family: "Libre Baskerville", "Sentinel A", "Sentinel B", "Gentium Plus", Ezra, Georgia, Times, serif;
	--reader-font-size: 1.1em;
	--global-font-size: 1.2em;
}
html,
body {
	font-size: var(--global-font-size);
	font-family: var(--primary-font-stack);
	color: var(--primary-text-color);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	height: 100%;
}
#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}
input, select, button {
	font-size: calc(var(--global-font-size) * 0.83333);
}
main {
	display: flex;
	min-height: 0;
	padding: .2rem .4rem;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
}
