html {
	--primary-text-color: #3b4351;
	/* Subtracted from 6rem */
	--primary-text-indent: 1rem;
	--primary-theme-color: #0b8dc4;
	--primary-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--secondary-font-family: "Sentinel A", "Sentinel B", "Gentium Plus", Ezra, Georgia, Times, serif;
	--reader-padding: 1rem;
	--reader-font-family: "Libre Baskerville", "Sentinel A", "Sentinel B", "Gentium Plus", Ezra, Georgia, Times, serif;
	--reader-font-size: 1rem;
}
html,
body {
	font-family: var(--primary-font-stack);
	color: var(--primary-text-color);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	height: 100%;
}
#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}
main {
	display: flex;
	min-height: 0;
}
