.header {
	padding-left: .5rem;
	padding-bottom: .2rem;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	/* Safari */
	flex-shrink: 0;
	container: header / inline-size;
}
.navbar {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.navbar > li {
	margin-left: 1rem;
}
.navbar > li > a {
	color: var(--primary-theme-color);
}
.navbarBrand {
	font-size: 2em;
	color: var(--primary-theme-color);
	font-weight: 700;
	margin-right: .5rem;
}
.navbarBrand::after {
	content: 'Open Bible';
}
.navbarBrand > svg {
	margin-bottom: -0.5rem;
}
.form {
	margin-left: 3px;
}
@container header (width < 24rem) {
	.navbarBrand::after {
		content: '';
	}
	.navbar > li {
		margin-left: 5vw;
	}
}
